<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>DOSceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>safe_mode</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Запуск без модулей</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypePlay</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>edit_labels</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Edit Page Labels</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeTask</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>edit_dots</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Edit Page Dots</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeBookmark</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>edit_layout</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Edit Layout</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeCompose</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>appdata</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>AppData</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeSearch</string>
		</dict>
	</array>
</dict>
</plist>
